<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>s150-sl</key>
	<dict>
		<key>icon</key>
		<string>icon-lab</string>
		<key>key</key>
		<data>zuNZjqSbpNiHKyCOA9mfzQ==</data>
		<key>name</key>
		<string>spaceLab</string>
	</dict>
	<key>s150-senate</key>
	<dict>
		<key>icon</key>
		<string>icon-senate</string>
		<key>key</key>
		<data>VchmHHtYrr+TczJAVEfSzQ==</data>
		<key>name</key>
		<string>Senate</string>
	</dict>
	<key>s150-vault</key>
	<dict>
		<key>icon</key>
		<string>icon-vault</string>
		<key>key</key>
		<data>FLwovM9gtjB0cZ2XT6eSPg==</data>
		<key>name</key>
		<string>Vault</string>
	</dict>
</dict>
</plist>
